.minitxt {

	font-size:0.8em;

}

.alertaOk{
	color: green;
}

.alertaW{
	color: orange;
}

.alertaE{
	color: red;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}


#page-wrapper-home{
  background-color: #2b3335 !important;
}
   
.txt-claro{
  color: darkgray;
  margin-bottom: 2rem;
}

.breadcum-margin{
  margin-top: 2rem;
}

/* Data table logs kiosko*/
.dt-log-font{
  font-size: small;
}

.dt-log-fecha{
  min-width: 160px !important;
}

.dt-log-equipo{
  min-width: 200px !important; 
}

.login-error-vcenter{
  margin-top: 30% !important;
}